@import '~office-ui-fabric-react/dist/sass/References.scss';
@import "../../../scss/Index.module.scss";

.buscador {
  margin-bottom: 30px;

  &_Container {
    @include Container;
  }

  &_Row {
    @include ms-Grid-row;
    margin-bottom: 50px;

    &_ColLeft {
      @include ms-Grid-col;
      @include ms-sm8;
      @include ms-sm6;

      &_Cantidad {
        font-weight: normal;
        font-size: 21px;
        margin-top: 15px;
      }

    }

    &_ColRight {
      @include ms-Grid-col;
      @include ms-sm4;
      @include ms-sm6;
      text-align: right;
    }

  }
}